<div ng-controller:"BucketsController as BC" ng-init="UC.find()">
  <form>
    <button><a href="#!/main">Home</a></button>
    <button ng-click="UC.logout()">Logout</button>
  </form>

  <div>
    {{UC.user.firstname}}'s Bucket List</br>
    <h3>Done</h3>
    <div ng-repeat="bucket in UC.user.buckets" ng-if="bucket.status == 'true'">
      <input ng-if="UC.current_user._id == user._id" type="checkbox" ng-model="BC.bucket[$index]" ng-change="BC.update(bucket._id)">
      {{bucket.title}} - {{bucket.description}}... - {{bucket.createdAt | date : 'MM/dd/yyyy'}}
    </div>

    <h3>Pending</h3>
    <div ng-repeat="bucket in UC.user.buckets" ng-if="bucket.status == 'false'">
      <input ng-if="UC.current_user._id == user._id" type="checkbox" ng-model="BC.bucket[$index]" ng-change="BC.update(bucket._id)">
      {{bucket.title}} - {{bucket.description}}... - {{bucket.createdAt | date : 'MM/dd/yyyy'}}
    </div>
  </div>
</div>
